<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Markdown 语法示例</title>
    <!-- 引入 Markdown 样式表 -->
    <style type="text/css">
        body{
            margin: 10px;
            font-family: "Microsoft Sans Serif";
            line-height: 35px;
        }

        .panel{
            width: 50%;
            height: auto;
            float: left;
        }

        .panel-body{
            padding: 10px;
        }

        .gen-content {
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 10px;
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.3s ease-out;
            display: none;
            margin-top: 15px;
        }

        .gen-content table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .gen-content table th,
        .gen-content table td {
            padding: 8px;
            text-align: center;
        }

        .gen-content table th {
            background-color: #f1f1f1;
            font-weight: bold;
            border: 1px solid #ddd;
        }

        .gen-content table td {
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .gen-content table tr:nth-child(even) td {
            background-color: #f9f9f9;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            border: none;
            border-radius: 6px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease-out, transform 0.3s ease-out;
        }

        .btn:hover {
            background-color: #0062cc;
            transform: translateY(-2px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        }

        .text-box {
            width: 200px;
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 10px;
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.3s ease-out;
        }

        .textarea-box:focus, .text-box:focus {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }

        .textarea-box {
            width: 99%;
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 10px;
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.3s ease-out;
        }

    </style>
</head>
<body>
<h2>{{ .title }}</h2>
<div class="panel">
    <div class="panel-body">
        <label for="complaint">请输入主诉：</label><br/>
        <textarea rows="3" class="textarea-box" id="complaint"></textarea>
        <button id="complaintSubmit" class="btn" onclick="genMedicalRecord();" style="width: 100%">提交</button>
        <div id="med-content" class="gen-content"></div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <label for="diagnose">请输入诊断：</label><br/>
        <textarea rows="3" class="textarea-box" id="diagnose"></textarea>
        <button id="submit" class="btn" onclick="genRx();" style="width: 100%">提交</button>
        <div id="rx-content" class="gen-content"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- 将 Markdown 内容转换为 HTML -->
<script>
    $(document).keyup(function(event){
        if(event.keyCode ==13){
            if($("#diagnose").val() != ""){
                $("#submit").trigger("click");
            }
            if($("#complaint").val() != ""){
                $("#complaintSubmit").trigger("click");
            }
        }
    });

    function genRx() {
        $("#rx-content").show();
        $("#rx-content")[0].innerHTML = "<h3 align='center'>处方模板生成中......</h3>";
        $.ajax({
            url: "http://localhost:8080/gpt/genRx",
            type: "GET", // 或者 "GET"
            data: {content: $("#diagnose").val()},
            dataType: "json", // 服务器返回的数据类型
            success: function (response) {
                // 成功处理响应数据的代码
                console.log(response);
                $("#rx-content")[0].innerHTML = response.message;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // 处理请求错误的代码
                console.error(textStatus, errorThrown);
            }
        });
    }

    function genMedicalRecord() {
        $("#med-content").show();
        $("#med-content")[0].innerHTML = "<h3 align='center'>病历模板生成中......</h3>";
        $.ajax({
            url: "http://localhost:8080/gpt/genMedicalRecord",
            type: "GET", // 或者 "GET"
            data: {content: $("#complaint").val()},
            dataType: "json", // 服务器返回的数据类型
            success: function (response) {
                // 成功处理响应数据的代码
                console.log(response);
                $("#med-content")[0].innerHTML = response.message;
                $("#diagnose").val($("#diagnose-text").text());
                if($("#diagnose").val() != ""){
                    $("#submit").trigger("click");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // 处理请求错误的代码
                console.error(textStatus, errorThrown);
            }
        });
    }
</script>
</body>
</html>
